/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {

/**********************
	Header
***********************/
.navbar-toggle
{
	margin-top: 0px;
}

.navbar-collapse 
{
	background: #fff;
	margin-top: 0px;
}

.navbar-nav
{
	width: 100%;
}

#logo
{
	width: 80%;
}

/**********************
	Contributors page
***********************/

.contributor-wrapper
{
	height: 100% ;
	min-height: 100%;
}

/**********************
	Footer
***********************/

.footer-logo, .footer-nav, .footer-social
{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

footer .social-nav
{
	text-align: center;
}

}